<?xml version="1.0"?>
<config>
    <modules>
        <Luisdesign_ArchivedOrders>
            <version>1.0.0</version>
        </Luisdesign_ArchivedOrders>
    </modules>
    <global>
        <blocks>
            <luisdesign_archivedorders>
                <class>Luisdesign_ArchivedOrders_Block</class>
            </luisdesign_archivedorders>
        </blocks>
        <helpers>
            <luisdesign_archivedorders>
                <class>Luisdesign_ArchivedOrders_Helper</class>
            </luisdesign_archivedorders>
        </helpers>
        <models>
            <luisdesign_archivedorders>
                <class>Luisdesign_ArchivedOrders_Model</class>
            </luisdesign_archivedorders>
        </models>
        <models>
            <luisdesign_archivedorders>
                <class>Luisdesign_ArchivedOrders_Model</class>
                <resourceModel>luisdesign_archivedorders_mysql4</resourceModel>
            </luisdesign_archivedorders>
            <luisdesign_archivedorders_mysql4>
                <class>Luisdesign_ArchivedOrders_Model_Mysql4</class>
                <entities>
                    <orders>
                        <table>luisdesign_archivedorders_orders</table>
                    </orders>
                </entities>
            </luisdesign_archivedorders_mysql4>
        </models>
        <resources>
            <luisdesign_archivedorders_setup>
                <setup>
                    <module>Luisdesign_ArchivedOrders</module>
                </setup>
            </luisdesign_archivedorders_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <luisdesign_archivedorders module="Luisdesign_ArchivedOrders">
                    <file>luisdesign/archivedorders.xml</file>
                </luisdesign_archivedorders>
            </updates>
        </layout>   
        <routers>
            <luisdesign_archivedorders>
                <use>standard</use>
                <args>
                    <module>Luisdesign_ArchivedOrders</module>
                    <frontName>archivedorders</frontName>
                </args>
            </luisdesign_archivedorders>
        </routers> 
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <luisdesign_archivedorders translate="title" module="luisdesign_archivedorders">
                                            <title>Archived Orders Section</title>
                                        </luisdesign_archivedorders>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>